@import 'src/styles';



// input.p-inputtext{
//   border-radius: 16px;
//   background-color: $background-input;
//   padding: 0.5rem 0.5rem;
//   padding-left: 2rem;
//   width: 400px;
//   min-width: 210px;
// }

p-toolbar.layout-topbar{
  background-color: #b3b3b3;
  display: flex;
  padding: 1rem;
}

.p-toolbar-group-end{
  gap:3rem;
  display: flex;
  flex-wrap: nowrap;
}



.title{
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;
  margin: 0;
  margin-left: 0px;
  line-height: 5rem;
  white-space: nowrap;
  transition: margin-left 0.3s ease;
}
@media (max-width: 800px) {
  .title {
    margin-left: -40px;
  }
}

.icon{
  font-weight: bolder;
  color: #929292;
}

.buttons{
  gap: 0.5rem;
  display: flex;
}

:host ::ng-deep .p-element.p-autocomplete-input.p-inputtext.p-component {
  padding-left: 30px;
  width: 600px;
  max-width: 100%;
  transition: width 0.3s ease;
}
@media (max-width: 1200px) {
  :host ::ng-deep .p-element.p-autocomplete-input.p-inputtext.p-component {
    width: 450px;
    margin-right: -10px;
  }
}
@media (max-width: 950px) {
  :host ::ng-deep .p-element.p-autocomplete-input.p-inputtext.p-component {
    width: 250px;
  }
}

:host ::ng-deep p-speeddial{
  ul{
    padding-left: unset;
  }

  a{
    color: unset;
    text-decoration: none;
  }
  button{
    border-radius:50%;
  }
}

ol, ul{
  padding-left: unset;
}
